.about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8% 5%;
    position: relative;
}

.about::after{
    content: "";
    background-color: var(--border);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.education {
    background-color: rgba(36, 37, 46, 1);
    border: 1px solid rgba(93, 188, 252, .3);
    width: 80%;
    padding: 1rem .2rem;
    font-size: .9rem;
    text-align: left;
    border-radius: 5px;
    opacity: .7;
    transition: .3s;
}

.education:hover{
    opacity: 1;
    border: 1px solid var(--blue);
    cursor: pointer;
}
.about h1,.about h2{
    color: var(--title-color);
    margin-bottom: 1rem;
}

h3{
    margin-bottom: .5rem;
}
.icon-profile, .icon-education, .icon-gears{
    color: var(--text-color);
    margin-right: 1rem;
    font-size: 1.8rem;
}

.about p{
    color: var(--text-color);
}

/*****************skills***************/
/*****************skills***************/

.skill-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-bottom: 3rem;
    justify-content: space-around;
    background-color: rgba(36, 37, 46, 1);
    border: 1px solid rgba(93, 188, 252, .3);
    border-radius: 5px;
    opacity: .7;
}

.skill-icon {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 1rem 0;
    background-color: rgba(36, 37, 46, 1);
    border: 1px solid rgba(93, 188, 252, .3);
    padding: 5px 10px;
    transition: .3s;
    border-radius: 5px;
    font-size: 15px;
}

.skill-icon:hover{
    width: fit-content;
    border: 1px solid var(--blue);
    background-color: black;
    cursor: pointer;
    rotate: 1deg;
    scale: 1.01;
    opacity: inherit;
}

.skill-icon span{
    margin-right: 5px;
}



@media screen and (max-width: 999px) {
    .about{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 7% 5%;
    }
    .skill-card,.education {
        width: 100%;
    }
    .skill-icon{
        font-size: 12px;
        font-weight: bold;
    }
}


@media screen and (max-width: 600px){
    .about{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5%;
    }
    .skill-card{
        width: 100%;
    }
    .skill-icon{
        font-size: 12px;
        font-weight: bold;
    }
}
