.hero {
    padding: 0rem 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 90vh;
    position: relative;
}

.hero::after{
    content: "";
    background-color: var(--border);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero .left-section {
    width: 50%;
    height: fit-content;
    position: relative;
}

.hero .left-section p{
    color: var(--text-color);
    font-size: .9rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.parent-avatar{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    position: relative;
}

.parent-avatar::before{
    width: 105px;
    height: 5px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    z-index: 1;
}

.parent-avatar::after{
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background: linear-gradient( beige 50%, orange 50%);
}

.parent-avatar::before,
.parent-avatar::after{
    content: "";
    position: absolute;
    animation: rotateCircle 12s linear infinite;
}


@keyframes rotateCircle{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.avatar {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    border: 4px solid var(--secondary);
    z-index: 2;
}


/***************************** text animation *****************************/
/***************************** text animation *****************************/

.tm-site-header {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: var(--title-color);
}

.text-animation {
    font-size: 180%;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}


.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Web Developer";
    color: var(--title-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: -8px;
    width: calc(100% + 8px);
    background-color: var(--secondary);
    border-left: 3px solid var(--title-color);
    animation: cursor .6s infinite, typing 20s steps(14) infinite;
}

@keyframes words {
    0%,20% {content: "Eslam Mohamed";}

    21%,40% {content: "Frontend Designer";}

    41%, 60% {content: "Web Developer";}

    61%, 80% { content: "Web Designer";}

    81%, 100% {content: "UI / UX Designer";}
}

@keyframes typing {

    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

/*====================icons============================*/

.hero ul{
    display: flex;
    gap: 2rem;
    height: 30px;
}

.icons{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    height: fit-content;
}

.hero ul .hero-icon{
    color: var(--text-color);
    transition: .3s;
    display: block;
} 

.hero .hero-icon:hover{
    color: var(--title-color);
    /* transform: scale(1.2)translateY(-5px);*/
    scale: 1.5;
}

.hero .resume{
    background-color: rgba(36, 37, 46, 1);
    width: 7rem;
    padding: 10px 0;
    font-size: 1.05rem;
    text-align: center;
    border-radius: 5px;
    opacity: .5;
    transition: .3s;
    position: absolute;
    bottom: 0px;
    right: 10%;
}

.hero .resume:hover {
    opacity: 1;
}




@media (max-width: 980px){
    .hero{
        height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .hero .left-section{
        width: 100%;
        padding-right: 3rem;
    }
    .text-animation {
        font-size: 24px;
        font-weight: 600;
        margin-top: 1rem;
        position: relative;
    }
    .hero .animation{
        width: 100%;
        height: 500px;
        position: relative;
    }

    .hero .frontendAnimation{
        position: absolute;
        top: 0;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        height: 400px;
    }
   
}

@media (max-width: 500px){
    .hero{
        height: 80vh;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .hero .left-section{
        width: 100%;
        padding-right: 0;
    }

    .text-animation{
      width: 100%;
      font-size: 20px;
      font-weight: 300;
      margin: 10px 0px;
    }

    .hero .left-section p{
        margin: 1rem 0 3rem;
    }

    .hero .animation{
        display: none;
    }

}


.animation{
    width: 40%;
    display: block;
    position: relative;
}

.hero .frontendAnimation{
    width: 100%;
    height: 100%;
    opacity: .8;
}


