:root{
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, .4);
  --title-color: rgb(244 244 245);
  --text-color: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --mode-color:rgb(244, 165, 96);
}

.light{
  --primary: rgb(240, 240, 240);
  --secondary: rgb(245, 245, 245);
  --border: rgba(202, 202, 202, .518);

  --title-color: rgb(39, 39, 42);
  --text-color: rgb(82, 82, 91);

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(70, 147, 198);
  --border-color: rgb(39, 39, 42);
  --mode-color:rgb(39, 39, 42);
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,*::before , 
*::after{
  box-sizing: inherit;
}

html{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  scrollbar-color: rgba(93, 188, 252, .3) var(--primary);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

li{list-style: none;}
  
a{
  text-decoration: none;
  color: initial;
  transition: .8s;
}
p{
  color: var(--text-color);
}

body{
  background-color: var(--primary);
  color: white;
}

.container{
  background-color: var(--secondary);
  border: 1px solid var(--border);
  width: 80%;
  margin: auto;
}

button {all: unset; cursor: pointer; }
button:active{
  scale: .95;
}

.icon-arrow-up{
  position: fixed;
  right: 3%;
  bottom: 10%;
  font-size: 1.5rem;
  padding: 1%;
  background-color: rgba(93, 188, 252, .3);
  color: var(--text-color);
  border-radius: 50%;
  transition: 1s;
  opacity: .7;
}

.icon-arrow-up:hover{
  background-color: var(--blue);
  color: var(--title-color);
  opacity: 1;
}
  

@media (max-width: 500px){
  .container{
    width: 100%;
  }
}